---
---
<html><body>
<div id="gen_html">
<link href="https://tile.openstreetmap.org/{z}/{x}/{y}.png" id="link_tiles" />

<!--
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
   integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
   crossorigin=""></script>
-->
<link rel="stylesheet" href="leaflet.css" />
<script src="leaflet.js"></script>

<a hidden target="_blank" id="map_copyright" href="https://osm.org/copyright">map &copy; OpenStreetMap</a>


<style>
.markerhighlighted
{
    fill: hsl(240, 87%, 18%) !important;
}
.markerupcoming
{
    fill: hsl(230, 69%, 50%);
    fill-opacity: 1.0;
}

.markerpast
{
    fill: hsl(215, 59%, 53%);
    fill-opacity: 1.0;
}

#map
{
    height: 200px; 
    width: 800px; 
}

a.eventlink, a.eventlink:visited{
     color: blue;
}

tr.t431__evenrow { background-color: gray }

</style>

<div id="map">
    <template id="popup">
        <div>
            <h3 id="place_name"></h3>
            <h4 id="place_date"></h4>
        </div>
    </template>
</div>


{% assign events_grouped_by_country = site.data.events | sort: "country" | group_by: "country" %}
<table class="t431__table" data-table-width="8%;5%;45%;42%" data-target-blank="on" width="100%"><tbody class="t431__tbody" id="allevents">
{% for g in events_grouped_by_country %}{% assign gg = g.items | sort: "city" %}
    <tr class="t431__oddrow"><td class="t431__td t-text" width="8%"><b>{{ g.name }}</b></td><td class="t431__td t-text" width="5%"></td><td class="t431__td t-text" width="45%"></td><td class="t431__td t-text" width="42%"></td></tr> 
    {% for e in gg %}{% assign date0 = e.date | split: ' ' | first %}{% assign date1 = e.date | split: ' ' | last %}{% assign latlon = site.data.citygeocoder[e.cityengorlatlon] %}{% unless latlon %}{% if e.cityengorlatlon contains ',' %}{% assign latlon = e.cityengorlatlon %}{% endif %}{% endunless %}
        <tr class="event {% cycle g.name: 't431__evenrow', 't431__oddrow' %}" data-latlon="{{ latlon }}" data-country="{{ e.country }}" data-city="{{ e.city }}" data-mapmarkerkey="{{ e.country }}-{{ e.city }}" data-date="{{ date0 }}" data-time="{{ date1 }}"><td class="t431__td t-text" width="8%">{{ e.city }}</td><td class="t431__td t-text" width="5%">{% if latlon and latlon != '' %}<a class="eventlink" href="#" onclick="return navigate(event);">{{ e.date }}</a>{% else %}{{ e.date }}{% endif %}</td><td class="t431__td t-text" width="45%">{% if e.orgurl and e.orgurl != '' %}<a target="_blank" rel="noopener" href="{{ e.orgurl }}">{{ e.orgname }}</a>{% else %}{{ e.orgname }}{% endif %}</td><td class="t431__td t-text" width="42%">{% if e.eventurl and e.eventurl != '' %}<a target="_blank" rel="noopener" href="{{ e.eventurl }}">{{ e.eventname }}</a>{% else %}{{ e.eventname }}{% endif %}</td></tr>
    {% endfor %}
{% endfor %}
</tbody></table>

<script>

map = null;

function init_and_populate_map(id, events)
{
    map = L.map(id);
    L.tileLayer(decodeURI(document.getElementById('link_tiles').href), {attribution: document.getElementById('map_copyright').outerHTML.replace('hidden', ''), maxZoom: 19 }).addTo(map);
    map.on('popupopen', e =>
    {
        e.popup._closeButton.removeAttribute("href");
        e.popup._closeButton.style.cursor = "pointer";
    });

    let mapmarkers = {map : map};
    const markers = [];
    for(const a of events)
    {
        if(a.dataset.mapmarkerkey in mapmarkers)
            continue;

        const latlon = a.dataset.latlon.split(',').map(parseFloat);
        const marker = L.circleMarker(latlon, {radius: 5, stroke: false, className: a.parentElement.classList.contains('eventactive') ? 'markerupcoming' : 'markerpast'}).addTo(map);
        marker.bindPopup(format_event_popup(a).outerHTML);
        marker.on('click', marker_onclick);

        marker.mapmarkerkey = a.dataset.mapmarkerkey;
        mapmarkers[a.dataset.mapmarkerkey] = marker;
        markers.push(marker);
    }

    const quantiles = (arr, p) => arr.sort((a, b) => a - b) && [arr[Math.floor(p * arr.length)], arr[Math.floor((1 - p) * arr.length)]];
    
    const [latl, latr] = quantiles(markers.map(marker => marker.getLatLng().lat), 0.1);
    const [lonl, lonr] = quantiles(markers.map(marker => marker.getLatLng().lng), 0.1);
    
    const markers_within = markers.filter(marker => latl <= marker.getLatLng().lat && marker.getLatLng().lat <= latr && lonl <= marker.getLatLng().lng && marker.getLatLng().lng <= lonr);
    const markers_within_keys = markers_within.map(marker => marker.mapmarkerkey);
    
    map.fitBounds(L.latLngBounds( markers_within.map(marker => ([marker.getLatLng().lat, marker.getLatLng().lng])) ));
    
    //map.setView([20, 0], 2);

    return [mapmarkers, markers_within_keys];
}

function format_event_popup(a)
{
    const elem = document.getElementById('popup').content.cloneNode(true);
    elem.querySelector('#place_name').innerText = [a.dataset.city, a.dataset.country].filter(s => s != '').join(', ');
    elem.querySelector('#place_date').innerText = [a.dataset.date, a.dataset.time].filter(s => s != '').join(', ');
    return elem.firstElementChild;
}

function marker_onclick(e)
{
    const marker = e.target;
    let _icon = document.querySelector('.markerhighlighted');
    if(_icon != null)
        L.DomUtil.removeClass(_icon, 'markerhighlighted');

    _icon = marker._icon || marker._path;
    if(_icon != null)
        L.DomUtil.addClass(_icon, 'markerhighlighted');
    
    marker.bringToFront(); // marker.setZIndexOffset(1000);
}

[mapmarkers, markers_within_keys] = init_and_populate_map('map', document.querySelectorAll('#allevents > tr.event:not([data-latlon=""])'));

function navigate(e)
{
    const dataset = e.target.parentElement.parentElement.dataset;
    const marker = mapmarkers[dataset.mapmarkerkey];
    map.flyTo(marker.getLatLng());
    marker_onclick({target : marker});
    marker.openPopup();
    return false;
}

</script>
</div>


</body></html>
